@model MySession

@{
    ViewData["Title"] = "Tools";
}
<h1 class="mt-3 mb-4">@ViewBag.Title</h1>


@*### 7. Add a Tools view to your Views/Home folder. Use a strongly typed view and use the MySession model class.

Include a title for the Tools page and a heading also. Display the four variables in a form with labels and readonly input elements.
Include a button (Display Session Variables) that displays the values of the four variables when it is clicked.
Include a link styled as a button that clears the values of the four variables in the input boxes when clicked.
Style this page like the Contact page.*@

<div class="container">
    <div class="row">
        <h3>Fill in your information in the form below:</h3>
    </div>
    <form asp-action="Index" method="post">
        <div class="row">
            <label asp-for="FirstName"
                   class="col-md-1 col-form-label">
                First Name:
            </label>
            <div class="col-md-3">
                <input asp-for="FirstName" class="form-control" value="@Context.Session.GetString("FirstName")" readonly />
            </div>
            <span asp-validation-for="FirstName"
                  class="col text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="LastName"
                   class="col-md-1 col-form-label">
                Last Name:
            </label>
            <div class="col-md-3">
                <input asp-for="LastName" class="form-control" value="@Context.Session.GetString("LastName")" readonly />                
            </div>
            <span asp-validation-for="LastName"
                  class="col text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Course"
                   class="col-md-1 col-form-label">
                Course:
            </label>
            <div class="col-md-3">
                <input asp-for="Course" class="form-control" value="@Context.Session.GetString("Course")" readonly/>
            </div>
            <span asp-validation-for="Course"
                  class="col text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="FavNum"
                   class="col-md-1 col-form-label">
                Favorite Number:
            </label>
            <div class="col-md-3">
                <input asp-for="FavNum" class="form-control" value="@Context.Session.GetInt32("FavNum")" readonly />
            </div>
            <span asp-validation-for="FavNum"
                  class="col text-danger"></span>
        </div>
        <div class="row">
            <div class="col offset-md-1">
                <button type="submit" class="btn btn-primary">
                    Display Session Variables
                </button>
                <a asp-action="ToolsClear"
                   class="btn btn-outline-secondary">Clear</a>
            </div>
        </div>
    </form>
</div>


